@model string

@{
    ViewBag.Title = "Publish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title"><h2>Publish Successful</h2></div>
    </div>
    <div class="panel-body">
        @Model has been successfully published.
    </div>
</div>

