
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Help/_HelpLayout.cshtml";
}

<h3>Introduction</h3>

<p>
    Welcome to The Randomzer. This application is designed with RPG gamemasters and story tellers in mind though it can be used by anyone who needs to randomly generate content.
    Customization is the primary benefit of The Randomizer. Through the use of specialized generators, anything that can be rendered using HTML can be generated. There are a number of different grammar types that can be used to define a generator each with its own purpose. The section called @Html.ActionLink("Generators","generators","help") in the User Content area has more details about each grammar type and their purposes.
</p>
<p>
    See the @Html.ActionLink("About", "About", "Home") page for links to more information about The Randomizer around the web as well as contact information.
</p>