
@{
    ViewBag.Title = "License";
    Layout = "~/Views/Help/_HelpLayout.cshtml";
}

<h3>License</h3>

<p>
    The Randomizer by Lance Boudreaux  is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.<span class="glyphicon glyphicon-new-window"></span></a>
    <br />
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img src="~/Content/Images/cc.png" /></a>
</p>

