
@{
    ViewBag.Title = "Terminology";
    Layout = "~/Views/Help/_HelpLayout.cshtml";
}

<h3>Terminology</h3>

Below is a list of terms used in The Randomizer as well as in this help system that have paticular meaning in this context.
<hr />
<dl class="dl-horizontal">
    <dt>Generator</dt><dd>a definition including description and rules used to generating content.</dd>
    <dt>Markov Chain</dt><dd>generation of assignment type grammars follows the Markov Chain method as described by the <a href="https://en.wikipedia.org/wiki/Markov_chain" target="_blank">Wikipedia article <span class="glyphicon glyphicon-new-window"></span></a>.</dd>
    <dt>Phonotactics</dt><dd>used by the phonotactics grammar type, phonotactics restricts the possible sound sequences and syllable structures in a language. More information can be found at the <a href="https://en.wikipedia.org/wiki/Phonotactics" target="_blank">Wikipedia article <span class="glyphicon glyphicon-new-window"></span></a>.</dd>
</dl>