<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="PortableMode" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="CheckUpdates" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ShowSplash" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </appSettings>
</configuration>