<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MoreGeneratorsURL" value="https://github.com/melance/TheRandomizerWPFCustomizations" />
    <add key="Theme" value="BaseLight" />
    <add key="Accent" value="Blue" />
    <add key="GeneratorDirectory" value="%appdata%\TheRandomizer\" />
    <add key="ShowSplash" value="true" />
    <add key="CheckUpdates" value="true" />
    <add key="IncludeBeta" value="false" />
    <add key="EditorMRU" value="" />
    <add key="IncludeGeneratorSubFolders" value="false" />
    <add key="PortableMode" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>