<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<appSettings>
		<add key="MoreGeneratorsURL" value="https://github.com/melance/TheRandomizerWPFCustomizations"/>
    <add key="Theme" value="BaseLight" />
    <add key="Accent" value="Blue" />
    <add key="GeneratorDirectory" value="%appdata%\TheRandomizer\" />
    <add key="ShowSplash" value="true" />
    <add key="CheckUpdates" value="true" />
    <add key="IncludeBeta" value="false" />
    <add key="EditorMRU" value="" />
    <add key="IncludeGeneratorSubFolders" value="false" />
    <add key="PortableMode" value="true" />
	</appSettings>
</configuration>
