<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheRandomizer.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="MoreGeneratorsURL" value="https://github.com/melance/TheRandomizerWPFCustomizations"/>
    <add key="DonationURL" value="https://paypal.me/LanceBoudreaux"/>
  </appSettings>
    <userSettings>
        <TheRandomizer.WinApp.Properties.Settings>
            <setting name="DefaultDetailWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeneratorDirectory" serializeAs="String">
                <value>%appdata%\TheRandomizer\</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ShowGeneratorLoadErrors" serializeAs="String">
                <value>True</value>
            </setting>
        </TheRandomizer.WinApp.Properties.Settings>
    </userSettings>
</configuration>
