@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4 class="well">
    <strong class="col-md-3">Creator:</strong> <a href="https://wwww.reddit.com/u/melance" target="_blank">Lance Boudreaux <sup class="glyphicon glyphicon-new-window"></sup></a><br />
    <strong class="col-md-3">Icon Design:</strong><a href="http://rndmnm.deviantart.com/" target="_blank">Hubert Tomaszewski <sup class="glyphicon glyphicon-new-window"></sup></a><br />
</h4>

<h4 class="well">
    <strong class="col-md-3">Source Code:</strong>   <a href="https://github.com/melance/TheRandomizer" target="_blank">GitHub <sup class="glyphicon glyphicon-new-window"></sup></a><br />
    <strong class="col-md-3">Reddit:</strong> <a href="http://reddit.com/r/TheRandomizer" target="_blank">/r/TheRandomizer <sup class="glyphicon glyphicon-new-window"></sup></a><br />
    <strong class="col-md-3">Windows Application:</strong> <a href="https://github.com/melance/TheRandomizerWPF/releases/latest" target="_blank">Latest Release <sup class="glyphicon glyphicon-new-window"></sup></a>
</h4>
