@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4 class="well">
    <strong>Source Code:</strong>   <a href="https://github.com/melance/TheRandomizer" target="_blank">GitHub <span class="glyphicon glyphicon-new-window"></span></a><br />
    <strong>Reddit:</strong> <a href="http://reddit.com/r/TheRandomizer" target="_blank">/r/TheRandomizer <span class="glyphicon glyphicon-new-window"></span></a><br />
    <strong>Windows Application:</strong> <a href="https://github.com/melance/TheRandomizerWPF/releases/latest" target="_blank">Latest Release <span class="glyphicon glyphicon-new-window"></span></a>
</h4>
