@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h4 class="well">
    <strong>Email:</strong> <a href="mailto:the.randomizer.app@gmail.com?subject=The Randomizer">the.randomizer.app@gmail.com</a><br />
    <strong>Reddit:</strong> <a href="https://reddit.com/u/melance" target="_blank">/u/melance <span class="glyphicon glyphicon-new-window"></span></a>
</h4>

