<script src="~/Scripts/bootstrap-filestyle.js"></script>    

<div class="modal fade bootstrap-dialog type-warning" id="confirmPublishRequest" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="bootstrap-dialog-header">
                    <div class="bootstrap-dialog-close-button"><button class="close">×</button></div>
                    <div class="bootstrap-dialog-title">Confirm Publish Request</div>
                </div>
            </div>
            <div class="modal-body">
                <div class="bootstrap-dialog-body">
                    <div class="bootstrap-dialog-message">
                        Are you sure you want to request publishing of this genertor?  Once it is published, it will no longer be available for editing.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="bootstrap-dialog-footer">
                    <div class="bootstrap-dialog-footer-buttons">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="bootstrap-dialog-button-icon glyphicon glyphicon-remove"></span> No</button>
                        <a href="/usercontent/publish/@Model.Id" class="btn btn-primary btn-ok"><span class="bootstrap-dialog-button-icon glyphicon glyphicon-ok"></span> Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bootstrap-dialog type-danger" id="confirmDeleteGenerator" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="bootstrap-dialog-header">
                    <div class="bootstrap-dialog-close-button"><button class="close">×</button></div>
                    <div class="bootstrap-dialog-title">Confirm Delete Generator</div>
                </div>
            </div>
            <div class="modal-body">
                <div class="bootstrap-dialog-body">
                    <div class="bootstrap-dialog-message">
                        Are you sure you want to delete this generator?  Once this is done, it cannot be undone.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="bootstrap-dialog-footer">
                    <div class="bootstrap-dialog-footer-buttons">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="bootstrap-dialog-button-icon glyphicon glyphicon-remove"></span> No</button>
                        <a href="/usercontent/deletegenerator/@Model.Id" class="btn btn-danger btn-ok"><span class="bootstrap-dialog-button-icon glyphicon glyphicon-ok"></span> Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("SelectGeneratorType", "UserContent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade bootstrap-dialog type-default" id="uploadGenerator" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="bootstrap-dialog-header">
                        <div class="bootstrap-dialog-close-button"><button type="button" class="close" data-dismiss="modal">×</button></div>
                        <div class="bootstrap-dialog-title">Upload File</div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="bootstrap-dialog-body">
                        <div class="bootstrap-dialog-message">
                            <input type="file" name="upload" id="file" accept=".rnd.xml,.lib.xml" class="filestyle" data-placeholder="No File" />
                            <input type="hidden" name="id" value="@Model.Id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="bootstrap-dialog-footer">
                        <div class="bootstrap-dialog-footer-buttons">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="bootstrap-dialog-button-icon glyphicon glyphicon-remove"></span> Cancel</button>
                            <button type="submit" class="btn btn-primary btn-ok"><span class="bootstrap-dialog-button-icon glyphicon glyphicon-ok"></span> Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="form-group">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="submit" value="Save" class="btn btn-primary" name="Submit" title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            <button type="submit" value="Save & Close" class="btn btn-default" name="Submit" title="Save & Close"><span class="glyphicon glyphicon-floppy-saved"></span></button>
            <button type="button" value="Upload File" class="btn btn-default" data-toggle="modal" data-target="#uploadGenerator" title="Upload File"><span class="glyphicon glyphicon-arrow-up"></span></button>
            <a href="/home/index" class="btn btn-default" name="Cancel" title="Close"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div class="btn-group">
            <button id="publishRequest" type="button" class="btn btn-default" title="Request Publish" data-toggle="modal" data-target="#confirmPublishRequest"><span class="glyphicon glyphicon-ok"></span></button>
            <button id="deleteGenerator" type="button" class="btn btn-default" title="Delete" data-toggle="modal" data-target="#confirmDeleteGenerator"><span class="glyphicon glyphicon-remove text-danger"></span></button>
        </div>
    </div>
</div>